flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Medibox System",
        "disabled": false,
        "info": "Node-RED flow for Medibox medicine management system"
    },
    {
        "id": "e0fe3a78.5c4418",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Light Intensity",
        "topic": "EE-ADMIN-LIGHT-INTENSITY",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a1b76b7.04e988",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "ce4c4a36.f92d58",
                "7a9e9026.b8215"
            ]
        ]
    },
    {
        "id": "ce4c4a36.f92d58",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Light Intensity",
        "group": "34b1bf97.86af8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "Intensity",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.33",
        "seg2": "0.66",
        "className": "",
        "x": 380,
        "y": 60,
        "wires": []
    },
    {
        "id": "7a9e9026.b8215",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Light Intensity History",
        "group": "34b1bf97.86af8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Light Intensity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "1a5bd35d.df715c",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "Sampling Interval",
        "label": "Sampling Interval (seconds)",
        "tooltip": "",
        "group": "34b1bf97.86af8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "sampling_interval",
        "topicType": "str",
        "min": 1,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "45a5de24.77f9b"
            ]
        ]
    },
    {
        "id": "6d1e2b33.9aed84",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "Sending Interval",
        "label": "Sending Interval (seconds)",
        "tooltip": "",
        "group": "34b1bf97.86af8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "sending_interval",
        "topicType": "str",
        "min": 10,
        "max": "300",
        "step": 10,
        "className": "",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "b17d2a9d.9aebf8"
            ]
        ]
    },
    {
        "id": "45a5de24.77f9b",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Set Sampling Interval",
        "topic": "ADMIN-SAMPLING-INTERVAL",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a1b76b7.04e988",
        "x": 390,
        "y": 200,
        "wires": []
    },
    {
        "id": "b17d2a9d.9aebf8",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Set Sending Interval",
        "topic": "ADMIN-SENDING-INTERVAL",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a1b76b7.04e988",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "f80aec95.52b13",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "Minimum Angle",
        "label": "Minimum Angle (θoffset)",
        "tooltip": "",
        "group": "5c4400de.04b2a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "angle_offset",
        "topicType": "str",
        "min": 0,
        "max": 120,
        "step": 1,
        "className": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "c29d7e04.b305"
            ]
        ]
    },
    {
        "id": "c29d7e04.b305",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Set Minimum Angle",
        "topic": "ADMIN-ANGLE-OFFSET",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a1b76b7.04e988",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "d1c9d26d.14fb3",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "Controlling Factor",
        "label": "Controlling Factor (γ)",
        "tooltip": "",
        "group": "5c4400de.04b2a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "controlling_factor",
        "topicType": "str",
        "min": 0,
        "max": 1,
        "step": 0.05,
        "className": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "a890cd32.75df3"
            ]
        ]
    },
    {
        "id": "a890cd32.75df3",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Set Controlling Factor",
        "topic": "ADMIN-CONTROLLING_FACTOR",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a1b76b7.04e988",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "75fb1c1a.f0f674",
        "type": "ui_slider",
        "z": "f6f2187d.f17ca8",
        "name": "Ideal Temperature",
        "label": "Ideal Temperature (Tmed) °C",
        "tooltip": "",
        "group": "5c4400de.04b2a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "ideal_temp",
        "topicType": "str",
        "min": 10,
        "max": 40,
        "step": 1,
        "className": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "a2ed9f64.36c6b"
            ]
        ]
    },
    {
        "id": "a2ed9f64.36c6b",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Set Ideal Temperature",
        "topic": "ADMIN-IDEAL-TEMP",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a1b76b7.04e988",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "99db37e9.1c4468",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Temperature",
        "topic": "EE-ADMIN-TEMPERATURE",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a1b76b7.04e988",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "2af8d9c1.c16406",
                "77ceb9a9.91bb68"
            ]
        ]
    },
    {
        "id": "2af8d9c1.c16406",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Current Temperature",
        "group": "fd9ed3d8.58822",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0076ff",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "35",
        "className": "",
        "x": 390,
        "y": 480,
        "wires": []
    },
    {
        "id": "77ceb9a9.91bb68",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Temperature History",
        "group": "fd9ed3d8.58822",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#1f77b4",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "84fa8d4a.b2842",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Humidity",
        "topic": "EE-ADMIN-HUMIDITY",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a1b76b7.04e988",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 580,
        "wires": [
            [
                "fb17d7e7.bff518",
                "4e1b5baa.d8f0a4"
            ]
        ]
    },
    {
        "id": "fb17d7e7.bff518",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Current Humidity",
        "group": "fd9ed3d8.58822",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#0076ff"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 380,
        "y": 560,
        "wires": []
    },
    {
        "id": "4e1b5baa.d8f0a4",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Humidity History",
        "group": "fd9ed3d8.58822",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0076ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "8f21aa2d.1d5b68",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Servo Angle",
        "topic": "EE-ADMIN-SERVO-ANGLE",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a1b76b7.04e988",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 660,
        "wires": [
            [
                "de4cb6b4.9f9dd8",
                "9ff3c5aa.f46358"
            ]
        ]
    },
    {
        "id": "de4cb6b4.9f9dd8",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "Current Servo Angle",
        "group": "5c4400de.04b2a",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Servo Angle",
        "label": "degrees",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "120",
        "className": "",
        "x": 390,
        "y": 640,
        "wires": []
    },
    {
        "id": "9ff3c5aa.f46358",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "Servo Angle History",
        "group": "5c4400de.04b2a",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Servo Angle Over Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "180",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "8a1b76b7.04e988",
        "type": "mqtt-broker",
        "name": "Mosquitto Test Broker",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "medibox_dashboard",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "34b1bf97.86af8",
        "type": "ui_group",
        "name": "Light Intensity Monitoring",
        "tab": "ff04603e.0f214",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5c4400de.04b2a",
        "type": "ui_group",
        "name": "Shaded Window Control",
        "tab": "ff04603e.0f214",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fd9ed3d8.58822",
        "type": "ui_group",
        "name": "Environment Monitoring",
        "tab": "ff04603e.0f214",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ff04603e.0f214",
        "type": "ui_tab",
        "name": "Medibox Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "12a4dfb8.f6d33",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "fd9ed3d8.58822",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Environment Status",
        "label": "Environment Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 390,
        "y": 740,
        "wires": []
    },
    {
        "id": "b5687dfd.82aef",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Environment Status",
        "topic": "EE-ADMIN-ENV-STATUS",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a1b76b7.04e988",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 740,
        "wires": [
            [
                "12a4dfb8.f6d33"
            ]
        ]
    },
    {
        "id": "e6e3a9df.15b368",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "Reset Default Settings",
        "group": "5c4400de.04b2a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Default Settings",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "reset_defaults",
        "topicType": "str",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "7c40a8ef.b02468"
            ]
        ]
    },
    {
        "id": "7c40a8ef.b02468",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Reset Default Values",
        "func": "// Create default value messages\nvar samplingInterval = { payload: 5, topic: \"sampling_interval\" };\nvar sendingInterval = { payload: 120, topic: \"sending_interval\" };\nvar angleOffset = { payload: 30, topic: \"angle_offset\" };\nvar controllingFactor = { payload: 0.75, topic: \"controlling_factor\" };\nvar idealTemp = { payload: 30, topic: \"ideal_temp\" };\n\n// Return all messages\nreturn [ samplingInterval, sendingInterval, angleOffset, controllingFactor, idealTemp ];\n",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 800,
        "wires": [
            [
                "45a5de24.77f9b",
                "1a5bd35d.df715c"
            ],
            [
                "b17d2a9d.9aebf8",
                "6d1e2b33.9aed84"
            ],
            [
                "c29d7e04.b305",
                "f80aec95.52b13"
            ],
            [
                "a890cd32.75df3",
                "d1c9d26d.14fb3"
            ],
            [
                "a2ed9f64.36c6b",
                "75fb1c1a.f0f674"
            ]
        ]
    }
]