Submission/node-red.json
[
    {
        "id": "67f9c8e90691dad9",
        "type": "tab",
        "label": "Medibox Flow ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ed394c0f0f6821d",
        "type": "mqtt in",
        "z": "67f9c8e90691dad9",
        "name": "",
        "topic": "HOME-TEMP-AKINDU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "daae4044a851245c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 120,
        "wires": [
            [
                "d4c3a6cabdd4011b",
                "5e4f2b6b03028a7b"
            ]
        ]
    },
    {
        "id": "5e4f2b6b03028a7b",
        "type": "ui_gauge",
        "z": "67f9c8e90691dad9",
        "name": "",
        "group": "44491014de3ca4c9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "d4c3a6cabdd4011b",
        "type": "ui_chart",
        "z": "67f9c8e90691dad9",
        "name": "",
        "group": "44491014de3ca4c9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1c71d8",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d1947eb6fc122b0a",
        "type": "mqtt in",
        "z": "67f9c8e90691dad9",
        "name": "",
        "topic": "HOME-LIGHT-AKINDU",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "daae4044a851245c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 800,
        "y": 420,
        "wires": [
            [
                "b054531ae95d6a33",
                "a94e73a2fa19e2df",
                "6e821f01a610c77e"
            ]
        ]
    },
    {
        "id": "8b61e1fa2b61ee16",
        "type": "ui_slider",
        "z": "67f9c8e90691dad9",
        "name": "",
        "label": "Sampling Interval",
        "tooltip": "",
        "group": "db90d842c8137a2c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 80,
        "wires": [
            [
                "c28144e082b5f42a"
            ]
        ]
    },
    {
        "id": "c28144e082b5f42a",
        "type": "mqtt out",
        "z": "67f9c8e90691dad9",
        "name": "",
        "topic": "SAMPLING-INTERVAL-AKINDU",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daae4044a851245c",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "fe7a535a4e1aa71c",
        "type": "mqtt out",
        "z": "67f9c8e90691dad9",
        "name": "",
        "topic": "SENDING-INTERVAL-AKINDU",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daae4044a851245c",
        "x": 950,
        "y": 280,
        "wires": []
    },
    {
        "id": "b054531ae95d6a33",
        "type": "ui_chart",
        "z": "67f9c8e90691dad9",
        "name": "",
        "group": "db90d842c8137a2c",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Light Intensity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a94e73a2fa19e2df",
        "type": "ui_text",
        "z": "67f9c8e90691dad9",
        "group": "db90d842c8137a2c",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light Intensity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 500,
        "wires": []
    },
    {
        "id": "ef101eb5bcdc5fcc",
        "type": "ui_slider",
        "z": "67f9c8e90691dad9",
        "name": "",
        "label": "Minimum Angle",
        "tooltip": "",
        "group": "4fae9efa4b520792",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 620,
        "y": 560,
        "wires": [
            [
                "c681645e94318981"
            ]
        ]
    },
    {
        "id": "e8b33739d7e72fba",
        "type": "ui_slider",
        "z": "67f9c8e90691dad9",
        "name": "",
        "label": "Controlling Factor",
        "tooltip": "",
        "group": "4fae9efa4b520792",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "0f19f970e202cb20"
            ]
        ]
    },
    {
        "id": "a31a1abcc21c403e",
        "type": "ui_slider",
        "z": "67f9c8e90691dad9",
        "name": "",
        "label": "Storage Temperature",
        "tooltip": "",
        "group": "4fae9efa4b520792",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 240,
        "y": 620,
        "wires": [
            [
                "1d72690797a0188e"
            ]
        ]
    },
    {
        "id": "c681645e94318981",
        "type": "mqtt out",
        "z": "67f9c8e90691dad9",
        "name": "Offset",
        "topic": "SERVO-OFFSET-AKINDU",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daae4044a851245c",
        "x": 750,
        "y": 660,
        "wires": []
    },
    {
        "id": "0f19f970e202cb20",
        "type": "mqtt out",
        "z": "67f9c8e90691dad9",
        "name": "Gamma",
        "topic": "GAMMA-AKINDU",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daae4044a851245c",
        "x": 400,
        "y": 520,
        "wires": []
    },
    {
        "id": "1d72690797a0188e",
        "type": "mqtt out",
        "z": "67f9c8e90691dad9",
        "name": "Tmed",
        "topic": "TMED-AKINDU",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "daae4044a851245c",
        "x": 410,
        "y": 700,
        "wires": []
    },
    {
        "id": "6e821f01a610c77e",
        "type": "ui_gauge",
        "z": "67f9c8e90691dad9",
        "name": "",
        "group": "db90d842c8137a2c",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity Gauge",
        "label": "units",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 440,
        "wires": []
    },
    {
        "id": "c7e77ee0f5b268c1",
        "type": "ui_slider",
        "z": "67f9c8e90691dad9",
        "name": "",
        "label": "Value update interval",
        "tooltip": "",
        "group": "db90d842c8137a2c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "500",
        "step": 1,
        "className": "",
        "x": 700,
        "y": 220,
        "wires": [
            [
                "fe7a535a4e1aa71c"
            ]
        ]
    },
    {
        "id": "daae4044a851245c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "44491014de3ca4c9",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "6c9e920feda67f64",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "db90d842c8137a2c",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "6c9e920feda67f64",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fae9efa4b520792",
        "type": "ui_group",
        "name": "Shade Controller",
        "tab": "6c9e920feda67f64",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6c9e920feda67f64",
        "type": "ui_tab",
        "name": "MediBox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]